## Logistic Regression

Logistic Regression Formula:
\
\
<img src="img/log_reg.png" alt="Markdown Monster icon" width=50% />
\
\
Probability Calculation by projection:
\
\
<img src="img/LR_prob.png" alt="Markdown Monster icon" width=50% />
\
\
Classification by projection:
\
\
<img src="img/LR_classify.png" alt="Markdown Monster icon" width=50% />

#### Preprocessing the data

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
d = pd.read_csv('Social_Network_Ads.csv') # dataframe
features = d.iloc[ :, 2:-1] #depends on age, salary #dataframe
#or features = d.iloc[ :, [2,3]
bought = d.iloc[ :, -1] #2-d array

x = d.iloc[ :, 2:-1].values #array
y = d.iloc[ :, -1].values #series
features

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [27]:
bought

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [28]:
# Encoding categorical label data
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)

In [34]:
#Spltiting the data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state =42)
np.shape(x_train)

(300, 2)

In [42]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

#### Visualising the data

In [ ]:
plt.figure()
plt.scatter(x_train, y_train, color = 'blue')
plt.plot(x_train, regressor.predict(x_train), color = 'red')
plt.title('Wine Quality')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')

#### Fitting the model to the training set

In [37]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=42)
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
# Predicting the test results
y_pred = classifier.predict(x_test)

In [46]:
#Making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[61,  2],
       [12, 25]])